In [20]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [21]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
#Caluculate the # of schools
#List the number of school names using unique function
unique_school_name = school_data_complete.school_name.unique()
unique_school_name

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [4]:
school_total = len(unique_school_name)
school_total

15

In [5]:
#Calculate the total number of students
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [6]:
student_total = school_data_complete.student_name.count()
student_total

39170

In [9]:
#Calculate the total budget
school_budget = school_data.budget.sum()
school_budget

24649428

In [8]:
#Calculate the average math score
avg_math_score = school_data_complete.math_score.mean()
avg_math_score

78.98537145774827

In [32]:
#Calculate the average reading score
avg_reading_score = school_data_complete.reading_score.mean()
avg_reading_score

81.87784018381414

In [11]:
#Calculate the percentage of students with a passing math score (70 or greater)
#Create a variable for the # of students who scored >= 70 in math and divide by the student total
passing_math_score = len(school_data_complete.loc[school_data_complete['math_score']>=70])
perc_passing_math = passing_math_score/student_total
perc_passing_math

0.749808526933878

In [12]:
#Calculate the percentage of students with a passing reading score (70 or greater)
#Create a variable for the # of students who score >= in reading and divide by student total
passing_read_score = len(school_data_complete.loc[school_data_complete['reading_score']>=70])
perc_passing_read = passing_read_score/student_total
perc_passing_read

0.8580546336482001

In [15]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
perc_pass_overall = student_data_complete_df
perc_pass_overall

TypeError: ufunc 'bitwise_and' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''