In [223]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [224]:
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [225]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [226]:
#Caluculate the # of schools
#List the number of school names using unique function
unique_school_name = school_data_complete.school_name.unique()
unique_school_name

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [227]:
school_total = len(unique_school_name)
school_total

15

In [228]:
#Calculate the total number of students
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [229]:
student_total = school_data_complete.student_name.count()
student_total

39170

In [230]:
#Calculate the total budget
school_budget = school_data.budget.sum()
school_budget

24649428

In [231]:
#Calculate the average math score
avg_math_score = school_data_complete.math_score.mean()
avg_math_score

78.98537145774827

In [232]:
#Calculate the average reading score
avg_reading_score = school_data_complete.reading_score.mean()
avg_reading_score

81.87784018381414

In [233]:
#Calculate the percentage of students with a passing math score (70 or greater)
#Create a variable for the # of students who scored >= 70 in math and divide by the student total
passing_math_score = len(school_data_complete.loc[school_data_complete['math_score']>=70])
perc_passing_math = passing_math_score/student_total
perc_passing_math

0.749808526933878

In [234]:
#Calculate the percentage of students with a passing reading score (70 or greater)
#Create a variable for the # of students who score >= in reading and divide by student total
passing_read_score = len(school_data_complete.loc[school_data_complete['reading_score']>=70])
perc_passing_read = passing_read_score/student_total
perc_passing_read

0.8580546336482001

In [235]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
total_pass_overall = student_data[(student_data['math_score'] >=70) & (student_data['reading_score'] >=70)]['student_name'].count()
total_pass_overall

25528

In [236]:
#Divide total of reading and math scores >= 70 and divide by student total
perc_pass_overall = total_pass_overall/student_total
perc_pass_overall

0.6517232575950983

In [237]:
#Create a dataframe to hold the above results by creating a list of dictionaries
district_data_df = pd.DataFrame({
    "Total # of Schools":[school_total],
    "Total # of Students":[student_total],
    "Total School Budget":[school_budget],
    "Average Math Score":[avg_math_score],
    "Percent Passing Math":[perc_passing_math],
    "Average Reading Score":[avg_reading_score],
    "Percent Passing Reading":[perc_passing_read],
    "Overall Passing Percentage":[perc_pass_overall]
    
})

district_data_df

,Total # of Schools,Total # of Students,Total School Budget,Average Math Score,Percent Passing Math,Average Reading Score,Percent Passing Reading,Overall Passing Percentage
0,15,39170,24649428,78.985371,0.749809,81.87784,0.858055,0.651723

In [238]:
#Optional: give the displayed data cleaner formatting
#district_data_clean = district_display.style.format({#"Total School Budget": "${:20,.0f"}",
                              "Average Math Score": "{:2f}",
                              "Percent Passing Math": "{:.1%}",
                              "Average Reading Score":"{:2f}",
                              "Percent Passing Reading": "{:.1%}",
                              "Overall Passing Percentage": "{:.2f%}"})
#district_data_clean

IndentationError: unexpected indent (<ipython-input-238-81dbe00925c6>, line 3)

In [239]:
#School Name 
unique_school_name

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [240]:
school_index = school_data_complete.set_index('school_name').groupby(['school_name'])
school_index.head()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...
Thomas High School,37535,Norma Mata,F,10th,76,76,14,Charter,1635,1043130
Thomas High School,37536,Cody Miller,M,11th,84,82,14,Charter,1635,1043130
Thomas High School,37537,Erik Snyder,M,9th,80,90,14,Charter,1635,1043130
Thomas High School,37538,Tanya Martinez,F,9th,71,69,14,Charter,1635,1043130
Thomas High School,37539,Noah Erickson,M,9th,86,76,14,Charter,1635,1043130

In [241]:
#School Type
school_type = school_index.type.unique()
school_type

school_name
Bailey High School       [District]
Cabrera High School       [Charter]
Figueroa High School     [District]
Ford High School         [District]
Griffin High School       [Charter]
Hernandez High School    [District]
Holden High School        [Charter]
Huang High School        [District]
Johnson High School      [District]
Pena High School          [Charter]
Rodriguez High School    [District]
Shelton High School       [Charter]
Thomas High School        [Charter]
Wilson High School        [Charter]
Wright High School        [Charter]
Name: type, dtype: object

In [242]:
#Total Students
school_student_tot = school_index.size()
school_student_tot

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
dtype: int64

In [243]:
#Total School Budget
total_school_budget = school_index['budget'].first()
total_school_budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [244]:
#Per student budget by taking ind school budget and dividing by # of total students
per_student_bdgt = total_school_budget/school_student_tot
per_student_bdgt

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [245]:
#Average Math Score using mean
avg_math_score = school_index["math_score"].mean()
avg_math_score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [246]:
#Average Reading Score using mean
avg_read_score = school_index["reading_score"].mean()
avg_read_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [247]:
#% Passing Math by taking math scores from Student DataFrame and dividing by the total # of students
per_pass_math = school_data_complete[school_data_complete['math_score']>=70].groupby('school_name')['Student ID'].count()/school_student_tot
per_pass_math

school_name
Bailey High School       0.666801
Cabrera High School      0.941335
Figueroa High School     0.659885
Ford High School         0.683096
Griffin High School      0.933924
Hernandez High School    0.667530
Holden High School       0.925059
Huang High School        0.656839
Johnson High School      0.660576
Pena High School         0.945946
Rodriguez High School    0.663666
Shelton High School      0.938671
Thomas High School       0.932722
Wilson High School       0.938677
Wright High School       0.933333
dtype: float64

In [248]:
#% Passing Reading
per_pass_read = school_data_complete[school_data_complete['reading_score']>=70].groupby('school_name')['Student ID'].count()/school_student_tot
per_pass_read

school_name
Bailey High School       0.819333
Cabrera High School      0.970398
Figueroa High School     0.807392
Ford High School         0.792990
Griffin High School      0.971390
Hernandez High School    0.808630
Holden High School       0.962529
Huang High School        0.813164
Johnson High School      0.812224
Pena High School         0.959459
Rodriguez High School    0.802201
Shelton High School      0.958546
Thomas High School       0.973089
Wilson High School       0.965396
Wright High School       0.966111
dtype: float64

In [249]:
#% Overall Passing (The percentage of students that passed math and reading.) add % of students passing math and reading and divide by 2?
pct_passing_overall = (per_pass_math + per_pass_read)/2

In [250]:
pct_passing_overall

school_name
Bailey High School       0.743067
Cabrera High School      0.955867
Figueroa High School     0.733639
Ford High School         0.738043
Griffin High School      0.952657
Hernandez High School    0.738080
Holden High School       0.943794
Huang High School        0.735002
Johnson High School      0.736400
Pena High School         0.952703
Rodriguez High School    0.732933
Shelton High School      0.948609
Thomas High School       0.952905
Wilson High School       0.952037
Wright High School       0.949722
dtype: float64

In [251]:
ind_school_df = pd.DataFrame({
    "School Type":school_type,
    "Total Students":school_student_tot,
    "Total School Budget":total_school_budget,
    "Per Student Budget":per_student_bdgt,
    "Average Math Score":avg_math_score,
    "Average Reading Score":avg_read_score,
    "% Passing Math":per_pass_math,
    "% Passing Reasding":per_pass_read,
    "Overall Passing":pct_passing_overall
})
ind_school_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reasding,Overall Passing
school_name,,,,,,,,,
Bailey High School,[District],4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.743067
Cabrera High School,[Charter],1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.955867
Figueroa High School,[District],2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.733639
Ford High School,[District],2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.738043
Griffin High School,[Charter],1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.952657
Hernandez High School,[District],4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.738080
Holden High School,[Charter],427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.943794
Huang High School,[District],2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.735002
Johnson High School,[District],4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.736400
Pena High School,[Charter],962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.952703
Rodriguez High School,[District],3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.732933
Shelton High School,[Charter],1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.948609
Thomas High School,[Charter],1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.952905
Wilson High School,[Charter],2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.952037
Wright High School,[Charter],1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.949722

In [252]:
#Sort and display the top five performing schools by % overall passing.
top_schools = ind_school_df.sort_values("Overall Passing",ascending=False)

In [253]:
#Using .head() default of listing the first 5 in a dataframe
top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reasding,Overall Passing
school_name,,,,,,,,,
Cabrera High School,[Charter],1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.955867
Thomas High School,[Charter],1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.952905
Pena High School,[Charter],962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.952703
Griffin High School,[Charter],1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.952657
Wilson High School,[Charter],2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.952037

In [254]:
#Sort and display the five worst-performing schools by % overall passing.
worst_performing = top_schools.tail()

In [255]:
worst_performing = worst_performing.sort_values("Overall Passing")
worst_performing

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reasding,Overall Passing
school_name,,,,,,,,,
Rodriguez High School,[District],3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.732933
Figueroa High School,[District],2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.733639
Huang High School,[District],2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.735002
Johnson High School,[District],4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.736400
Ford High School,[District],2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.738043

In [262]:
#Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school
#Create a pandas series for each grade. Hint: use a conditional statement.
#Group each series by school

math_ninth = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')['math_score'].mean()
math_tenth = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')['math_score'].mean()
math_eleventh = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')['math_score'].mean()
math_twelth = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')['math_score'].mean()
                                    
#Create a dataframe using a list of dictionaries
avg_math_by_grade_df = pd.DataFrame ({
    "9th":math_ninth,
    "10th":math_tenth,
    "11th":math_eleventh,
    "12th":math_twelth
})
avg_math_by_grade_df

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [263]:
#Set school as index
#avg_math_by_grade_df = avg_math_by_grade_df[['9th', '10th','11th','12th']]
#avg_math_by_grade_df.index.name = "School"

In [272]:
#Perform the same operations as above for reading scores
read_ninth = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')['reading_score'].mean()
read_tenth = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')['reading_score'].mean()
read_eleventh = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')['reading_score'].mean()
read_twelth = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')['reading_score'].mean()
                                    
#Create a dataframe using a list of dictionaries
avg_read_by_grade_df = pd.DataFrame ({
    "9th":read_ninth,
    "10th":read_tenth,
    "11th":read_eleventh,
    "12th":read_twelth
})
avg_read_by_grade_df

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [277]:
#Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
#Average Math Score
spending_bins = [0, 585, 615, 645, 675]
group_school = [ "<$585", "$585-615", "$615-645", "$645-675"]
#school_data_complete['spending_bins'] = pd.cut(school_data_complete['budget']/school_data_complete['size'], bins, labels = group_school)

school_performance = ind_school_df.drop(columns=['Total Students','Per Student Budget','Total School Budget'])
school_performance["Spending Ranges"]=pd.cut(per_student_bdgt, spending_bins, labels=group_school, include_lowest=True)
school_performance

#Group by spending
spending_group = school_performance.groupby(["Spending Ranges"]).mean()
spending_group

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reasding,Overall Passing
Spending Ranges,,,,,
<$585,83.455399,83.933814,0.934601,0.966109,0.950355
$585-615,83.599686,83.885211,0.942309,0.959003,0.950656
$615-645,79.079225,81.891436,0.756682,0.861066,0.808874
$645-675,76.997210,81.027843,0.661648,0.811340,0.736494

In [280]:
#Sort school by size
bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
school_performance["School size"]=pd.cut(school_student_tot, bins, labels=group_names, include_lowest=True)
school_performance

size_group = school_performance.groupby(["School size"]).mean()
size_group

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reasding,Overall Passing
School size,,,,,
Small (<1000),83.821598,83.929843,0.935502,0.960994,0.948248
Medium (1000-2000),83.374684,83.864438,0.935997,0.967907,0.951952
Large (2000-5000),77.746417,81.344493,0.699634,0.827666,0.763650

In [285]:
#Group school by type
group_type = [Charter, District]
school_type = school_performance.groupby(["School Type"]).mean()
school_type

NameError: name 'Charter' is not defined